
name: testing and linting

on:
    push:
        branches:
            - main

jobs:
    python:
        name: Python
        runs-on: ubuntu-latest
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}

        steps:

            - name: code checkout  
              uses: actions/checkout@v6

            - name: run the linting
              run: docker compose run --rm backend sh -c "flake8"

        


