
name: testing and linting

on:
    push:
        branches:
            - main

jobs:
    python:
        name: Python
        runs-on: ubuntu-latest
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}

        steps:

            - name: code checkout  
              uses: actions/checkout@v6

            - name: run the linting
              run: docker compose run --rm backend sh -c "flake8"

            - name: run python SAST
              run: docker compose run --rm backend sh -c "bandit -r ."



    terraform:
        name: Terraform
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v6

            - name: terraform linting
              env:
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
                AWS_DEFAULT_REGION: "us-east-1"
                TF_WORKSPACE: ${{ secrets.TF_WORKSPACE }}
              run: |
                cd infra/
                docker compose run --rm terraform -chdir=prod init -backend=false
                docker compose run --rm terraform -chdir=setup init -backend=false
                docker compose run --rm terraform -chdir=prod fmt -check
                docker compose run --rm terraform -chdir=setup fmt -check
                docker compose run --rm terraform -chdir=prod validate
                docker compose run --rm terraform -chdir=setup validate





        


