name: Destroy Workflow

on: 
  workflow_dispatch:
    
jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Run destroy script
        run: echo "Destroying resources.. dummy for now"
